*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu{
    list-style: none;
}

li{
    display: inline-block;
    font-size: 12px;
}

header{
    min-height: 20px;
    background-color: orangered;
    margin-bottom: 20px;
    color: white;
}

header .row{
    padding: 10px;
}

#logo{
    max-height: 20px;
    text-align: center;
}


section{
    padding: 20px;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
}

.justify{
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap:wrap;
}


img{
    width: 100%;
}


footer{
    background-color: rgb(36, 36, 36);
    min-height: 30px;
    padding: 10px;
    color: white;
}


.col-3{
    flex-basis: calc((100% / 12) * 3);
}

.col-4{
    flex-basis: calc((100% / 12) * 4);    
    padding: 5px;    
    position: relative;
}


.col-6{ 
    flex-basis: calc((100% / 12) * 6);
}

.brand{
    color: grey;
    font-size: 10px;
    font-weight: bold;
}

.product{
    font-weight: bold;
}

.new-price{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}

.red{
    background-color: red;
    color: white;
    position: absolute;
    left: 10;
    bottom: 110px;
    z-index: 997;
        
}



.green{
    background-color: green;
    color: white;
    width: max-content;
    position: absolute;
    bottom:110px;
    left: 50px ;
    z-index: 998;
}

.green-2{
    background-color: green;
    color: white;
    width: max-content;
    position: absolute;
    bottom:110px;
    left: 5px ;
    z-index: 100;
}
.heart{
    background-color: white;    
    padding: 5px 10px;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 5px;
    z-index: 999;
}


.web-1{
    position:relative;
    z-index: 65;        
    left: 0;
}

.web-2 {
    position: absolute;
    z-index: 50;
    padding: 5px;
    left: 0;
    
    
}

.col-4:hover, .web-1:hover{
    z-index: 40;
}


